<!doctype html>
<html lang="en">
  <head>
  	<title>Sepsis Prediction Platform Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="static/css/style.css">

	</head>
	<body>
	<header>
		<!-- <p class=small-font></p> -->
		<img src="static/images/image_logo7.png" style = "margin:10px;">
	</header>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section" style="color:darkblue; font-size:32px;">Sepsis Prediction Platform Demo</h2>
				</div>
			</div>
			<div class="row justify-content-center">
						<div class="row no-gutters">
							<div class="col-md-6">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Demo Values</h3>
									<form method="POST" action="/" id="values" name="values" class="values">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Input Values</label>
													<textarea name="values" class="form-control" id="values" cols="30" rows="10" placeholder="Input here"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Submit Values" class="btn btn-primary">
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-6" style="text-align:center; background-color: beige;">
								<div style="text-align:center;"><p><br>{{ result }}</p></div>
			          </div>

					  <div class="col-md-12">
						<div class="wrapper">
							<div><p><br></p></div>

							<div class="row mb-5">
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-map-marker"></span>
								</div>
								<div class="text">
								<p><span>Address:</span> Based in Waterloo, Ontario</p>
							  </div>
						  </div>
							</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-phone"></span>
								</div>
								<div class="text">
								<p><span>Phone: 416-725-7376</span></p>
							  </div>
						  </div>
							</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-paper-plane"></span>
								</div>
								<div class="text">
								<p><span>Email:</span> <a href="mailto:ml.houseai.gmail.com">ml.house.ai@gmail.com</a></p>
							  </div>
						  </div>
							</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-globe"></span>
								</div>
								<div class="text">
								<p> <a href="https://houseai.tech" target="_blank">Main Website</a></p>
							</div>
							</div>
						</div>
					</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	</body>
</html>

 