<!DOCTYPE html>
<html lang="en">

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SM70WJ55B2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SM70WJ55B2');
</script>



  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>House AI</title>
  <meta name="description" content="House AI is a Centralized AI-Based Healthcare Solution aimed at accelerating the implementation of big data solutions in healthcare institutions.">
  <meta name="keywords" content="Machine Learning, Helathcare Analytics, Technology in Healthcare, AI Data Solution">


  <link rel="shortcut icon" href="assets/images/favicon.png" />  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="assets/img/faviconai4.png" rel="icon" type = "img/png" >


  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
  <!-- <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script> -->

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href=""><span>House AI</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Capabilities</a></li>
          <li><a href="#solutions">Solutions</a></li>
          <li><a href="#video" class="scrollto">Demo Video</a></li>

          <li><a href="#team">Team</a></li>
          <li><a href="/users/login">Login</a></li>
          <li class="get-started"><a href="/users/register">Register</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Centralized</h1>
          <h1 data-aos="fade-up">AI-Based Data Processing Solution</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">for Healthcare Institutions</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Learn More</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="assets/img/hero-img.png" alt = "Healthcare Workflow" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/tensorflow.png" class="img-fluid" alt="Tensorflow" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/passport2.png" class="img-fluid" alt="Passport JS" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/chart.svg" class="img-fluid" alt="Charts" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/nodejs.png" class="img-fluid" alt="Node JS" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/numpy.png" class="img-fluid" alt="NumPy" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/gcloud1.png" class="img-fluid" alt="Google Cloud Services" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              House is a secure AI-based data processing solution that can help healthcare institutions <mark>study and analyze a decade's worth of medical history in seconds</mark>.

            </p>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Our goal is to <u>accelerate healthcare systems transition into big data solutions.</u>
            </p>
            <a href="mailto:ml.HouseAI@gmail.com" class="btn-learn-more">Free Consultation</a>
            
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="assets/img/hero2.png" alt="Medical Workflow" class="img-fluid">
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-heart-beat-alt"></i>                    
                    <p><strong>AI assisted </strong>medical analysis and monitoring greatly improves patient care.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-database-locked"></i>
                    <p><strong>Centralized Data</strong> in Healthcare</p>
                    <p>(currently supports 240 major Canadian Hospitals)</p>

                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-clock-time"></i>
                    <p><strong>Streamlines</strong> workflow in overcrowded hospitals</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-coins"></i>
                    <p><strong>Reduces operational costs</strong> through efficiency</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Current Capabilities</h2>
          <p>What can House AI do?</p>
        </div>
        
        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-right" data-aos-delay="100">
              <div class="icon"><i class="icofont-chart-line"></i></div>
              <h4 class="title"><a href="">Sepsis Prediction</a></h4>
              <p class="description">House is collaborating with several hospitals on a real-time sepsis prediction project.</p>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-down" data-aos-delay="200">
              <div class="icon"><i class="icofont-micro-chip"></i></div>
              <h4 class="title"><a href="">Diagnostician</a></h4>
              <p class="description">Trained on 1.087 million data points, House is able to assist medical personnel in diagnosis.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-left" data-aos-delay="300">
              <div class="icon"><i class="icofont-pay"></i></div>
              <h4 class="title"><a href="">Medical Payment Logistics</a></h4>
              <p class="description">House's AI framework is gaining industry attention with medical payment and coding systems. </p>
            </div>
          </div>
        </div>

        <div>
          <p> <br></p>
        </div>

        <div class = "row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-right" data-aos-delay="100">
              <div class="icon"><i class="icofont-data"></i></div>
              <h4 class="title"><a href="">Centralized Healthcare Data</a></h4>
              <p class="description">House analyzes and pulls data network-wide to give unprecedented big data analytics.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="icofont-google-talk"></i></div>
              <h4 class="title"><a href="">Natural Language Processing</a></h4>
              <p class="description">House analyzes complex medical records through series of deep neural networks.</p>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-left" data-aos-delay="300">
              <div class="icon"><i class="icofont-ui-lock"></i></div>
              <h4 class="title"><a href="">Secure Encryption</a></h4>
              <p class="description">End-to-end encryption ensures House stays protected.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
    
    <section id="solutions" class="solutions solutionx">
      <div class="container">

        <div class="section-title solutionTitle" data-aos="fade-up">
          <h2>Solutions</h2>
          <p></p>
        </div>
        
        <div class="row members">
          <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">

                
                <div class="inspect-title" data-aos="fade-right">

                      <h5 class = "Capability-header">EVERYONE</h5>
                      <div class="test-smaller">
                        <ul>
                          <li>Shorter wait times in case of an emergency.</li>
                          <p class = "small-line"> <br></p>
                          <li>More accurate medical diagnosis and monitoring will save lives.</li>
                          <p class = "small-line"> <br></p>
                          <li>Centralization adds security against distributed denial of service (DDoS) attacks.</li>
                        </ul>
                      </div>
                </div>

          </div>

          <div class="col-md-3 wow fadeInUp" data-wow-delay="0.6s">
                
                <div class="inspect-title" data-aos="fade-up">
                      <h5 class = "Capability-header">Healthcare Institutions</h5>
                      <div class="test-smaller">
                        <ul>
                          <li>Streamlined workflow saves on operational costs.</li>
                          <p class = "small-line"> <br></p>
                          <li>Better coordination allows for load balancing between institutions.</li>
                          <p class = "small-line"> <br></p>
                          <li>Real-time patient alerts allows healthcare institutions to provide the best patient care.</li>
                        </ul>
                      
                      
                      
                      </div>
                </div>
          </div>

          <div class="col-md-3 wow fadeInUp" data-wow-delay="0.7s">
               
                <div class="inspect-title" data-aos="fade-up">
                      <h5 class = "Capability-header">Clinicians </h5>
                      <div class="test-smaller">
                        <ul>
                          <li>Machine Learning Sepsis Prediction saves lives.</li>
                          <p class = "small-line"> <br></p>
                          <li>AI-assisted medical diagnosis adds patient safety.</li>
                          <p class = "small-line"> <br></p>
                          <li>Cloud storage on patient visits brings convenience.</li>
                        </ul>        
                      </div>
                </div>
          </div>

          <div class="col-md-3 wow fadeInUp" data-wow-delay="0.8s">
            
            <div class="inspect-title" data-aos="fade-left">
                  <h5 class = "Capability-header">Public health Officials and Researchers</h5>
                  <div class="test-smaller">
                    <ul>
                      <li>Centralized, cloud-hosted data enables proactive response and monitoring of viral outbreaks.</li>
                      <p class = "small-line"> <br></p>
                      <li>Big data analytics for epidemiologists and researchers.</li>
                    </ul>        
                  </div>
            </div>
         </div>
          
         
    </div>

      </div>
    </section><!-- End Services Section -->

 
    <!-- ======= Features Section ======= -->
    
    
    <!-- ======= Testimonials Section ======= -->
    
    <!-- ======= Portfolio Section ======= -->
    <section id="video" class="container">
      <div class = "container-fluid">
       <div class = "video-section" data-aos = "fade-up">
         <h3 class = "demo-title"><b>Demo Video</b></h3>
         <p class="font-italic">
            House AI         
         </p>
         <p>
            <!--
               <div class = "video">
                 <iframe width="916" height="515" src="https://www.youtube.com/embed/6X2woerXQD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
               -->
      
               <div class="video-container" text-align="center">
                 <div class = "inner-div">
                   
                <iframe width="1000" height="515" src="https://www.youtube.com/embed/b4w1s2VeR7w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
              </div>            
     
      </div>
      </div>
       
    </section>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2><mark>Team</mark> behind <mark>House AI</mark></h2>
          <p></p>
        </div>

        <div class="row centerDiv">

          

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch centerDiv">
            <div class="member" data-aos="fade-right" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/adam.jpg" class="img-fluid" alt="Chief Technology Officer">
                <div class="social">
                  <a href="https://www.facebook.com/adam.lam.779205"><i class="icofont-facebook"></i></a>
                  <a href="https://github.com/Adam2611"><i class="fab fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/adam-lam26/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Adam Lam</h4>
                <span>Chief Technology Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch centerDiv">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/matthew1.jpg" class="img-fluid" alt="Chief Executive Officer">
                <div class="social">
                  <a href="https://www.instagram.com/matthew.jiao/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/matthew-jiao-57004519b/"><i class="icofont-linkedin"></i></a>
                  <a href="https://github.com/MatthewJiao"><i class="fab fa-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Matthew Jiao</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch centerDiv">
            <div class="member" data-aos="fade-left" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/amrit.jpg" class="img-fluid" alt="Chief Growth Officer">
                <div class="social">
                  <a href="https://www.linkedin.com/in/amritbhogal/"><i class="icofont-linkedin"></i></a>

                </div>
              </div>
              <div class="member-info">
                <h4>Amrit Bhogal</h4>
                <span>Chief Growth Officer</span>
              </div>
            </div>
          </div>

         

        </div>

      </div>
    </section><!-- End Team Section -->


    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            <p>  &copy; Copyright <strong>House AI</strong> 2021. All Rights Reserved <br> Contact us at  <a href="mailto:ml.houseAI@gmail.com">ml.HouseAI@gmail.com</a></p>
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#services" class="scrollto">Capabilities</a>
            <a href="#solutions" class="scrollto">Solutions</a>
            <a href="/terms">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS Fle -->
  <script src="assets/js/main.js"></script>

</body>

</html>
